{% extends '@forum/adminLayout.html.twig' %}

{% block content %}
{{ fireHook('view.admin.templates.start') }}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Templates</h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12">TODO templates will be here </div>
                            </div>
                        </div>
                    </div>
                </div>
{{ fireHook('view.admin.templates.end') }}
{% endblock content %}