.toolbar {
    /*width: 400px;*/
    /*height: 150px;*/
}
.toolbar-icon {
    cursor: pointer;
    max-width: 26px;
    max-height: 26px;
    /*border: 1px solid #ccc;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1.5px;
    /*margin: 1px;*/
    /*padding: 2px;*/
}
.toolbar-icon:hover {
    background-color: #abccdf;
    color: rgb(43, 37, 42);
}
.toolbar-separator {
    margin-right: 8px;
}
